<div class="nav-links">
    <button class="nav-link active" (click)="showAllTodos()">
        All
    </button>
    <button class="nav-link" (click)="showComplatedTodos()">
        Done
    </button>
    <button class="nav-link" (click)="showTodo()">
        Todo
    </button>
</div>
<form (submit)="AddTodo()">
    <input type="text" name="todoname" [(ngModel)]="todoname">
    <button>Add</button>
</form>
<div class="list">
    <label [for]="todo?.value" class="todo" *ngFor="let todo of todos">
        <div>
            <input type="checkbox" [id]="todo?.value" (change)="SelectTodo(todo?.value)">
            <span> {{todo?.value}}</span>
        </div>
        <div class="delete" (click)="DeleteTodo(this.todo?.value)">x</div>
    </label>
</div>